<div class="container d-flex justify-content-center align-items-center" style="height: 85vh;">
    <div class="card mt-5 w-75 p-5">
      <h1 class="text-center">Registration Form</h1>
      <form [formGroup]="registerForm">
        <div class="d-flex">
        <app-shared-input
          [parentForm]="registerForm"
          controlName="name"
          label="Name"
          type="text"
          class="m-4 my-0"
          icon="person_add"
          [validationData]="registerForm.get('name')"
        ></app-shared-input>
        <app-shared-input
          [parentForm]="registerForm"
          controlName="email"
          label="Email"
          type="email"
          class="m-4 my-0"
          icon="email"
          [validationData]="registerForm.get('email')"
        ></app-shared-input>
     
    </div>
    <div class="d-flex">
        <app-shared-input
          [parentForm]="registerForm"
          controlName="password"
          label="Password"
          fieldType="password"
          class="m-4 my-2"
          icon="visibility"
          [validationData]="registerForm.get('password')"
        ></app-shared-input>
        <app-shared-input
        [parentForm]="registerForm"
        controlName="confirmpassword"
        label="Confirm Password"
        fieldType="password"
        class="m-4 my-2"
        icon="visibility"
        [validationData]="registerForm.get('password')"
      ></app-shared-input>
    </div>
    <div class="d-flex">
        <app-shared-input
          [parentForm]="registerForm"
          controlName="contactno"
          label="Contact Number"
          fieldType="text"
          class="m-4 mt-0"
          icon="call"
          [validationData]="registerForm.get('contactno')"
          maxLength="10"
        ></app-shared-input>
        <app-shared-input
        [parentForm]="registerForm"
        controlName="address"
        label="Address"
        fieldType="textarea"
        class="m-4 mt-0"
        icon="place"
        [validationData]="registerForm.get('address')"
      ></app-shared-input>
    </div>
    <div class="text-center">
      <button mat-raised-button color="primary" class="p-4" (click)="Submit(registerForm)">Register</button>
      <h3 class="mt-3">Already have an account? <a routerLink="/login">Login</a></h3>
    </div>  
      </form>
    </div>
  </div>
  
  
  