<div class="m-1">
    <div class=" d-flex">
        <div class="card m-3 w-50">
            <h1 class="text-center mt-3 fs-2">12 Tyre Tancker</h1>
            <hr>
            <img class="tanckerImg" src="https://thumbs.dreamstime.com/b/fuel-truck-which-worker-trying-to-drain-gasoline-cartoon-illustration-isolated-object-white-background-vector-eps-196933332.jpg" alt="">
            <h1 class="text-center">Capacity :- 25 Ton.</h1>
                 <div class="text-center">
                <button mat-raised-button color="accent" class="m-3 fs-4" routerLink='/bookTancker/fourteen'>Book Now</button>
            </div>
        </div>
        <div class="card m-3 w-50">
            <h1 class="text-center mt-3 fs-2">14 Tyre Tancker</h1>
            <hr>
            <img class="tanckerImg" src="https://thumbs.dreamstime.com/b/fuel-truck-which-worker-trying-to-drain-gasoline-cartoon-illustration-isolated-object-white-background-vector-eps-196933332.jpg" alt="">
            <h1 class="text-center">Capacity :- 30 Ton.</h1>
                 <div class="text-center">
                <button mat-raised-button color="accent" class="m-3 fs-4" routerLink='/bookTancker/fourteen'>Book Now</button>
            </div>
        </div>
        <div class="card m-3 w-50">
            <h1 class="text-center mt-3 fs-2">16 Tyre Tancker</h1>
            <hr>
            <img class="tanckerImg" src="https://thumbs.dreamstime.com/b/fuel-truck-which-worker-trying-to-drain-gasoline-cartoon-illustration-isolated-object-white-background-vector-eps-196933332.jpg" alt="">
            <h1 class="text-center">Capacity :- 35 Ton.</h1>
                 <div class="text-center">
                <button mat-raised-button color="accent" class="m-3 fs-4" routerLink='/bookTancker/sixteen'>Book Now</button>
            </div>
        </div>
    </div>
</div>