<div class="container">
    <div class="card-deck">
        <div class="card m-5 d-flex flex-row">
          <img class="card-img-top tancker m-3" src="https://thumbs.dreamstime.com/b/fuel-truck-which-worker-trying-to-drain-gasoline-cartoon-illustration-isolated-object-white-background-vector-eps-196933332.jpg" alt="Card image cap" >
          <div class="card-body m-5">
            <h1 class="fs-1 mt-3">Need Tancker?</h1>
            <button mat-raised-button color="accent" class="m-4 p-4" routerLink="/tanckerDash">Click Here>>>></button>  
          </div>
        </div>
      </div>
</div>