<div class="container d-flex justify-content-center align-items-center" style="height: 75vh;">
  <div class="card py-4 w-50">
    <h1 class="text-center">Login Form</h1>
    <form [formGroup]="loginForm">
      <app-shared-input
        [parentForm]="loginForm"
        controlName="email"
        label="Email"
        type="text"
        class=""
        icon="email"
        [validationData]="loginForm.get('email')"
      >
    </app-shared-input>
      <app-shared-input
        [parentForm]="loginForm"
        controlName="password"
        label="Password"
        fieldType="password"
        icon="visibility"
        
        [validationData]="loginForm.get('password')"
      ></app-shared-input>
     
      <div class="text-center">
        <button mat-raised-button color="primary" class="p-4" (click)="Submit()">Login</button>
        <h3 class="mt-3">Don't Have an account? <a routerLink="/register">Register Here</a></h3>
      </div>

    </form>
  </div>
</div>


