<nav class="navbar navbar-light justify-content-around">
    <a class="navbar-brand">Logo</a>
    <form class="form-inline">
        <a class="navbar-brand" routerLink="/">Home</a>
        <a class="navbar-brand" routerLink="/aboutus">About Us</a>
        <a class="navbar-brand" routerLink="/contactus">Contact Us</a>
        <a class="navbar-brand" routerLink="/service">Services</a>
        <a class="navbar-brand" routerLink="/getquote">Get a quote</a>
        <button *ngIf="!isLogin" mat-raised-button color="primary" routerLink="/login">Login</button>
        <button *ngIf="isLogin" mat-raised-button color="accent" (click)="Logout()">Logout</button>     
    </form> 
</nav>