<div class="card mt-3 d-flex flex-row">
    <div class="card text-center w-50">
       <div class="p-5">
        <h1>HRS TRANSPORT</h1>
        <h3>Specialist In Transportation of Lubricant Oil And Vegetable Oil.</h3> 
        <h3>Contact Number: 8369867210/9222980257</h3> 
        </div>
    </div>
    <div class="card w-75">
     <img src="https://www.scania.com/content/www/group/en/home/products-and-services/trucks/v8/_jcr_content/image.img.90.360.jpeg/1681906047446.jpeg" alt="Tancker">
    </div>
  </div>