.bg{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWTFW2X7YnmfrJ8ejFvDxWOIdevbh2zf-nVx9OAmDgww&s');
    background-repeat: no-repeat;
    background-attachment: fixed;
  background-size: cover;
}
h1{
    color: #e5cdce;
    font-size: 61px;
    font-weight: bold;
}
.sideImg{
    height: 88vh;
    width: 50vw;
    
}
.card{
    border-radius: 0%;
    height: 88vh;
}