<div class="bg">
    <h1 class="text-center pt-5">Contact Service.</h1>
    <div class="mt-3 d-flex flex-row">
        <div class="text-center w-50">
            <div class="card mt-4 p-4">
                <h2 class="mt-3 fs-3">Do you have query ? Contact us from here.</h2>
                <form [formGroup]="contactForm">
                    <app-shared-input [parentForm]="contactForm" controlName="name" label="Full Name" fieldType="text"
                        class="mt-2" icon="person_add" [validationData]="contactForm.get('name')">
                    </app-shared-input>
                    <app-shared-input [parentForm]="contactForm" controlName="email" label="Email Id" fieldType="email"
                        icon="email" [validationData]="contactForm.get('email')">
                    </app-shared-input>
                    <app-shared-input [parentForm]="contactForm" controlName="contactno" label="Contact Number"
                        fieldType="Number" icon="call" [validationData]="contactForm.get('contactno')">
                    </app-shared-input>
                    <app-shared-input [parentForm]="contactForm" controlName="query" label="Post your message here"
                        fieldType="textarea" icon="question_answer" [validationData]="contactForm.get('contactno')">
                    </app-shared-input>
                    <div class="text-center">
                        <button mat-raised-button color="primary" class="p-4" (click)="Submit(contactForm)">Post
                            Message</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="mt-4 w-50">
            <img class="sideImg"
                src="https://img.freepik.com/free-vector/call-center-background-flat-design_23-2147954923.jpg?size=626&ext=jpg"
                alt="Tancker">
        </div>
    </div>
   
</div>